body {
background: white;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: black;
text-align: center;
}
.assign {
display: flex;
padding: 10px;
margin: 20px;
background: lightcyan;
text-align: center;
}
.assign img {
width: 400px;
padding: 10px;
}

h2 {
  color: lightcyan;
  text-align: center;
}
